body{
   margin:auto;
   width:80%;
   background-color: gray;
}
.square{
   width:23%;
   height:200px;
   background-color:lightskyblue;
   border: darkslateblue 2px solid;
   display:inline-block;
   margin:4px;
   padding:0;
   font:16pt "Arial Rounded MT Bold";
   box-shadow: 0 0 8px yellow;
}

.square:hover{
   box-shadow: 0 0 15px yellow;
}
.square:active{
   width:23%;
   font:16pt "Arial Rounded MT Bold";
   box-shadow: 0 0;
}
