body{
   margin:auto;
   width:80%;
   background-color: gray;
}
.square{
   width:23%;
   height:200px;
   background-color:lightskyblue;
   border: darkslateblue 2px solid;
   display:inline-block;
   margin:4px;
   padding:0;
   font:16pt "Arial Rounded MT Bold";
}
.square:hover{
   font:18pt "Arial Rounded MT Bold";
   box-shadow: 0 3px;
}
.square:active{
   width:22%;
   font:16pt "Arial Rounded MT Bold";
   box-shadow: 0 0;
}
